.navhead {
  color: whitesmoke;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.red {
  background-image: url("https://www.ecopetit.cat/wpic/mpic/283-2833209_pizza-italy-wallpaper-high-revolution-high-resolution-pizza.jpg");

  width: 100%;
  height: 100%;
}
